<a href="https://colab.research.google.com/github/Minjaero/2022Cstudy/blob/main/%EA%B9%80%EB%AF%BC%EC%9E%AC_205_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
print("Hello, World!")

Hello, World!

In [11]:
print(3+4)

7

In [13]:
value = 1234
print(value)
print(value + 100)

1234
1334

In [19]:
print(3+4)
print (4 * 5)
a = 1
b = 2
print(a+b)

7
20
3

In [15]:
a =  '강아지'
b =  '고양이'
print(a)
print(b)

강아지
고양이

In [24]:
print('*         * ')
print(' *       * ')
print('  *     *  ')
print('   *   *   ')
print('     *     ')

*         *
 *       *
  *     *
   *   *
     *

In [25]:
a = '강아지'
b = '고양이'
print(a, end = ' ')
print(b)

강아지 고양이

In [26]:
print(34, end = '^^')
print(78)

34^^78

In [28]:
a =12
b =34
print(a, b)

12 34

In [29]:
a = 12
b =34
print(a, b, sep= ',')

12,34

In [31]:
s = '서울'
d = '대전'
g = '대구'
b = '부산'
print(s, d, g, b, sep = ' 찍고 ')

서울 찍고 대전 찍고 대구 찍고 부산

In [33]:
print(12, 34, 56, sep ='^^' , end = '-->')
print(78)

12^^34^^56-->78

In [36]:
a = 13
b = 21
print(a, b)
print(a + b)
print(a, b, end='')
print(a, b, sep='')

13 21
34
13 211321

In [38]:
age = input("몇 살이세요?")
print(age)

몇 살이세요?18
18

In [44]:
name = input("이름을 입력하세요:")
print("안녕하세요", name, "님!")

이름을 입력하세요김민재
안녕하세요 김민재 님!

In [49]:
a= input("첫 번째 과일 입력:")
b= input("두 번째 과일 입력.")
print(a, '와(과)' ,b, '은(는) 내가 좋아하는 과일이다.')

첫 번째 과일 입력:수박
두 번째 과일 입력.사과
수박 와(과) 사과 은(는) 내가 좋아하는 과일이다.

In [50]:
year = input('몇 년도?')
month= input('몇 월?')
day= input('몇 일?')
print(year, month, day, sep=" . ")

몇 년도?2023
몇 월?3
몇 일?9
2023 . 3 . 9

In [54]:
age = input('몇 살이세요?')
age = int(age)
print(age + age)

몇 살이세요?15
30